### 'Normal' gitignore files.
ctest.c
ctest64.c
debug.txt
CTestConfig.cmake
Vagrantfile
build*
html
doxygen*.tmp
\#*.*\#
*.*~
*.o
*.lo
*.la
myhtml
CMakeLists.txt.user
scan-build
.deps
.libs
*.zip
*.gz
Makefile
.DS_Store
build-par
build_llvm
.vagrant
Vagrantfile
libsrc/attr.c
libsrc/ncx.c
libsrc/putget.c
nc_test/test_put.c
nc_test/test_get.c

